
apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrations
  namespace: crud
spec:
  template:
    spec:
      containers:
        - name: django
          image: nurhun/django_crud
          imagePullPolicy: Always
          command: ['python', 'manage.py', 'migrate']
          # env:
          # - name: POSTGRES_HOST
          #   valueFrom:
          #     secretKeyRef:
          #       name: psql
          #       key: PG_HOST
          # - name: POSTGRES_PORT
          #   valueFrom:
          #     secretKeyRef:
          #       name: psql
          #       key: PG_PORT
          # - name: POSTGRES_DB
          #   valueFrom:
          #     secretKeyRef:
          #       name: psql
          #       key: PG_DB
          # - name: POSTGRES_USER
          #   valueFrom:
          #     secretKeyRef:
          #       name: psql
          #       key: PG_USER
          # - name: POSTGRES_PASSWORD
          #   valueFrom:
          #     secretKeyRef:
          #       name: psql
          #       key: PG_PASSWORD
      restartPolicy: Never
  backoffLimit: 5