version: "3.7"
services:

  # Django
  django:
    image: nurhun/django_crud:v0.1
    container_name: Django
    ports:
      - 8000:8000
    restart: always


  # # Jaeger
  # jaeger-all-in-one:
  #   image: jaegertracing/all-in-one:latest
  #   container_name: Jaeger
  #   ports:
  #     - "16686:16686"
  #     - "14268"
  #     - "14250"

  # # Collector
  # otel-collector:
  #   # image: ${OTELCOL_IMG}
  #   image: otel/opentelemetry-collector-contrib-dev:latest
  #   # command: ["--config=/etc/otel-collector-config.yaml", "${OTELCOL_ARGS}"]
  #   command: ["--config=/etc/otel-collector-config.yaml"]
  #   volumes:
  #     - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
  #   ports:
  #     - "1888:1888"   # pprof extension
  #     - "8888:8888"   # Prometheus metrics exposed by the collector
  #     - "8889:8889"   # Prometheus exporter metrics
  #     - "13133:13133" # health_check extension
  #     - "4317:4317"   # OTLP gRPC receiver
  #     - "55670:55679" # zpages extension
  #   depends_on:
  #     - jaeger-all-in-one

  # prometheus:
  #   image: prom/prometheus
  #   container_name: prometheus
  #   volumes:
  #     # - ./prometheus.yaml:/etc/prometheus/prometheus.yml
  #     - ./prom.yaml:/etc/prometheus/prometheus.yml
  #   command:
  #     - '--config.file=/etc/prometheus/prometheus.yml'
  #     # - '--storage.tsdb.path=/prometheus'
  #     - '--web.console.libraries=/usr/share/prometheus/console_libraries'
  #     - '--web.console.templates=/prometheus/consoles'
  #   # ports:
  #   #   - 9090:9090
  #   network_mode: "host"
  #   restart: always

  # grafana:
  #   image: grafana/grafana
  #   container_name: grafana
  #   depends_on:
  #     - prometheus
  #   # ports:
  #   #   - 3000:3000
  #   network_mode: "host"
  #   # volumes:
  #   #   - grafana_data:/var/lib/grafana
  #   #   - ./grafana/provisioning/:/etc/grafana/provisioning/
  #   # env_file:
  #   #   - ./grafana/config.monitoring
  #   restart: always

  # locust:
  #   image: locustio/locust
  #   container_name: loc
  #   # ports:
  #   #   - 8089:8089
  #   network_mode: "host"
  #   command: -f /mnt/locust/locustfile.py
  #   volumes:
  #     - /home/nurhun/docs/workspace/locust/:/mnt/locust/
  #   restart: always